.booking-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
  background-color: #f9f9f9;
}

.image-container img {
  width: 400px;
  height: auto;
}

.form-container {
  background-color: white;
  padding: 2rem;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: 60%;
}

h2 {
  text-align: center;
  margin-bottom: 1rem;
  color: #333;
}

.error {
  color: red;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

.form-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.form-column {
  flex-basis: 48%;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #555;
}

input,
select,
textarea {
  width: 100%;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ddd;
  margin-bottom: 0.5rem;
  font-size: 1rem;
}

textarea {
  height: 100px;
}

button.submit-button {
  background-color: #28a745;
  color: white;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button.submit-button:hover {
  background-color: #218838;
}

.button-container {
  text-align: center;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

