.booking-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.image-container {
  flex: 1;
  text-align: center;
  margin-right: 20px;
margin-top: 100px;}

.image-container img {
  width: 100%;  /* Make the image take full width of its container */
  max-width: 400px;  /* Limit the maximum width of the image */
  max-height: 500px; /* Increase the height limit to ensure it's properly sized */
  object-fit: cover;  /* Ensures the image covers the entire area without stretching */
}
.form-container {
  background-color: white;
  padding: 2rem;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: 60%;
}

h2 {
  text-align: center;
  margin-bottom: 1rem;
  color: #333;
}

.error {
  color: red;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

.form-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.form-column {
  flex-basis: 48%;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #555;
}

input,
select,
textarea {
  width: 100%;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ddd;
  margin-bottom: 0.5rem;
  font-size: 1rem;
}

textarea {
  height: 100px;
}

button.submit-button {
  background-color: #28a745;
  color: white;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button.submit-button:hover {
  background-color: #218838;
}

.button-container {
  text-align: center;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

